@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assests/lode-lagrainge-OcCJ8VthsYo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  font-family: "Titillium Web", sans-serif;
}
#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: grid;
  grid-template-columns: 34rem  31rem; 
  width:  67.7vw;
  /* height: 600px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
}

.left {
  /* width: 36vw; */
  /* height: 600px; */
  background: rgba(255, 255, 255, 0.2);
  display: flex;

  flex-direction: column;
}
.right {
  /* width: 31vw; */
  /* height: 600px; */
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
}
h3 {
  margin-top: 25px;
  margin-left: 50px;
}
.info_left {
  width: 450px;
  height: 470px;
  margin-left: 50px;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-direction: column;
}

.city_data {
  display: flex;
  width: 450px;
  height: 120px;
  margin-bottom: 20px;
}
#temp {
  width: 120px;
  height: 120px;
  font-size: 5.2em;
  margin-right: 20px;
  font-family: "Raleway", sans-serif;
}

#city_name {
  font-size: 2.3em;
}
.city_icon {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  width: 200px;
  
}
.wether-icon{
  filter: brightness(0) invert(1);
  margin-left: 2.5rem;
}

.actual_date_clouds {
  display: flex;
  justify-content: space-between;
  width: 235px;
}

.next_days_wrapper {
  display: flex;
  flex-direction: row;
  width: 28.125rem;
}

.day-box {
  width: 64px;
  height: 65px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.day-box p{
  margin-bottom: .4rem;
}
#day-box_temp{
  margin-bottom: 1.3rem;
}
.border {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}


.info_box {
  width: 360px;
  height: 600px;
  margin-left: 70px;
}
.search-btn {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(14, 13, 13);
  font-size: 1.5em;
  cursor: pointer;
}
input {
  width: 335px;
  background: transparent;
  height: 60px;
  margin-top: 10.5px;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  color: whitesmoke;
  text-transform: capitalize;
}
input::placeholder {
  list-style: 2;
  color: whitesmoke;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}
input:focus {
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}
p {
  width: 335px;
  margin-top: 20px;

  font-size: 1em;
}
span {
  float: right;
}

#next-hours {
  width: 335px;
  margin-top: 45px;
  border-bottom: 1px solid white;
  padding-bottom: 12px;
  font-weight: bold;
}
